[submodule "omgwords-agent/reportmatchmodule"]
	path = omgwords-agent/reportmatchmodule
	url = https://github.com/alex-ong/CTMEditor.git
[submodule "omgwords-agent/private"]
	path = omgwords-agent/private
	url = https://github.com/professor-l/ctp-private.git
